.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

body {
  font: 11px sans-serif;
}

.axis path
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis line 
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h1 {
  font-family: "Gill Sans","Gill Sans MT","Calibri","sans-serif"; 
  color: #006bb6;
  font-size: 2rem;
  position: relative;
  float: left;
  display: inline;
}
svg {
  font-family: sans-serif;
  font-size: 0.75em;
  position: relative;
}
table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px; 
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 10px;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table tfoot td {
  font-size: 12px;
}
